{% extends "base.html.twig" %}

{% block body %}
    <section class="d-flex align-items-center justify-content-center">
        <img class="img-fluid" src="{{ asset('assets/images/accountant_working.jpg') }}">
    </section>

    <section class="container bg-light bg-gradient my-5">
        <div class="d-flex flex-column align-items-center">
            <h2 class="text-info-emphasis">SOBRE NÓS</h2>
            <p class="fs-3 fw-bold">Somos a empresa contábil certa para o seu empreendimento</p>
            <p class="fs-5 fw-light">O seu negócio para se desenvolver precisa de decisões conscientes e para isso a Contabilidade é essencial. O gestor que se ampara nesta premissa sabe que os serviços contábeis não são utilizados apenas para as burocracias fiscais e sim para instrumentaliza-lo à uma gestão de sucesso. Há mais de 30 anos nós entendemos este papel de existência e estamos aqui para estruturar os números do seu negócio e junto com você alcançar os melhores resultados.</p>
        </div>
    </section>

    <section class="bg-white py-5">
        <div class="d-flex flex-column align-items-center py-3">
            <h2 class="text-info-emphasis">SERVIÇOES QUE FAZEM A DIFERENÇA</h2>
            <p class="fs-5 fw-light">Uma enorme diferença</p>
        </div>
        <div class="container d-flex py-3">
            <div class="col-md-3 text-center">
                <img class="img-fluid w-75" src="{{ asset('assets/images/abertura_empresa.png') }}" alt="Abertura de Empresa">
                <p class="fs-5 fw-light">ABERTURA DE EMPRESAS</p>
            </div>
            <div class="col-md-3 text-center">
                <img class="img-fluid w-75" src="{{ asset('assets/images/contabilidade.png') }}" alt="Contabilidade">
                <p class="fs-5 fw-light">CONTABILIDADE</p>
            </div>
            <div class="col-md-3 text-center">
                <img class="img-fluid w-75" src="{{ asset('assets/images/contabilidade_exterior.png') }}" alt="Contabilidade Para Comércio Exterior">
                <p class="fs-5 fw-light">CONTABILIDADE PARA COMÉRCIO EXTERIOR</p>
            </div>
            <div class="col-md-3 text-center">
                <img class="img-fluid w-75" src="{{ asset('assets/images/certificado_digital.png') }}" alt="Certificado Digitais">
                <p class="fs-5 fw-light">CERTIFICADOS DIGITAIS</p>
            </div>
        </div>
    </section>

    <section class="container-fluid bg-light bg-gradient d-flex px-0">
        <div class="col-md-6 d-flex flex-column align-content-around flex-wrap justify-content-between px-3">
            <div>
                <h2 class="text-info-emphasis py-5">
                    <i class="fa-regular fa-file-lines fa-lg"></i>
                    <span>BLOGS</span>
                </h2>
                <div class="card py-5">
                    <h4 class="card-title mx-auto">Verifique em breve</h4>
                    <div class="card-body">Assim que novos posts forem publicados, você poderá vê-los aqui.</div>
                </div>
            </div>
            <div class="text-center my-4">
                <button type="button" class="btn btn-primary fw-light">Visualizar mais</button>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="{{ asset('assets/images/img_blog.webp') }}" alt="Blog">
        </div>
    </section>
{% endblock %}