<div class="col-md-6 d-flex flex-column align-items-center justify-content-center p-5">
    <p class="text-info-subtle fw-light">{{ title }}</p>
    <p class="fw-light">{{ subtitle }}</p>
    <a href="{{ path(href_link) }}" target="_blank" type="button" class="btn btn-primary py-2 px-3 fw-light">{{ text_link }}</a>
</div>
<div class="col-md-6">
    <img src="{{ asset(path_to_img) }}" alt="Sobre" class="img-fluid">
</div>